{% extends "base.html" %}
{% block title %}
Analytics
{% endblock %}
{% block content %}

{% if no_graphs %}

<div class="container mt-5">
    <h1 class="mb-4">Analytics</h1>
    <div class="alert alert-warning" role="alert">
        No data available for analytics. Please add some expenses to view analytics.
    </div>
</div>

{% else %}

<div class="container mt-5">
    <h1 class="mb-4">Analytics</h1>
    <div class="row">
        <div class="col-md-6 mb-4 chart-container">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h5>Monthly Expense Breakdown</h5>
                </div>
                <div class="card-body">
                    <div id="pie-chart">
                        {{ graphs.graph_pie|safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 chart-container">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h5>Monthly Inflows and Outflows</h5>
                </div>
                <div class="card-body">
                    <div id="bar-chart">
                        {{ graphs.graph_bar|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4 chart-container">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h5>Monthly Expense Trend</h5>
                </div>
                <div class="card-body">
                    <div id="line-chart">
                        {{ graphs.graph_line|safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 chart-container">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h5>Top 3 Expense Categories</h5>
                </div>
                <div class="card-body">
                    <div id="top-expenses-bar-chart">
                        {{ graphs.graph_top_expenses|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}