<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}" style="font-weight: bold">MoneyHack</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% if user.is_authenticated %} {% url 'expenses' %} {% else %} {% url 'home' %} {% endif %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'expenses' %}">Expenses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'goals' %}">Goals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'analytics' %}">Analysis</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link btn btn-outline-danger ms-2" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary ms-2" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-success ms-2" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>